@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: 'Montserrat';
}
.box{
  top: 100%;
  right: 100%;
  background-color: aqua;
  width: 400px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 80, 80);
}
.text{
  font-size: 38px;
  font-weight: 700;
  text-shadow: 2px 2px pink;
}