*{
    text-align: center;
}
h1{
    font-weight: 600;
    font-size: 48px;
}
h2{
    font-weight: 500;
    font-size: 28px;
}
.randomColor{
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    margin: 2% 10% 2% 10%;
    gap: 2px;
}
.randomColor > .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}